# ===== Python =====
__pycache__/
*.py[cod]
*.pyo
*.pyd

# ===== Virtual Environment =====
venv/
.env/
.env.*
env

# ===== Flask =====
instance/
.webassets-cache

# ===== SQLite =====
*.db
*.sqlite
*.sqlite3

# ===== Logs =====
*.log

# ===== OS Files =====
.DS_Store
Thumbs.db

# ===== IDEs =====
.vscode/
.idea/
