# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
env/
venv/
ENV/
.venv/

# VS Code / IDE settings
.vscode/
.idea/

# Environment variables
.env

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Flask uploads / instance folder (if any)
instance/
uploads/
